@media screen and (min-width: 1200px) {
    .ti-menu{
        font-family: FontAwesome;
    }

    .ti-menu:before{
        content: "\f0c9";
    }
}


/******************************** END *****************************************/

@media screen and (max-width: 991px) {
    .ti-menu{
        font-family: FontAwesome;
    }

    .ti-menu:before{
        content: "\f0c9";
    }

}


/******************************** END *****************************************/


@media screen and (max-width: 767px) {

    .ti-menu{
        font-family: FontAwesome;
    }

    .ti-menu:before{
        content: "\f0c9";
    }
    .navbar-brand > img {
        display: block;
        padding: 15px;
    }
    .navbar-nav {
        margin: 7.5px 0;
    }
    .carousel-caption {
        bottom: 30%;
        right: 5%;
        left: 5%;
    }
    .home-small_2 .item {
        height: 300px;
    }
    .carousel-caption h3 {
        font-size: 24px;
        margin: 0 0 30px 0;
    }
    .block_video iframe {
        width: 283px;
        height: 180px !important;
        margin: 10px 0 0 51px;
    }
    .section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .logo {
        display: block;
        margin: 0;
        padding: 15px;
    }
    .logo img {
        height: 50px;
    }
    .navbar-header{

    }

    .btn-group{
        position: absolute;
        top: 0;
        right: 10px;
        z-index: 999;
    }

    .btn_lang {
        margin-top: 25px;
        background: #fff;
    }

    .home-intro .btn{
        display: block;
        float: left;
        width: 30%;
        font-size: 11px;
        margin: 30px 5px 0 5px;
    }
    .question_page {
        display: block;
        width: 100%;
    }
    .option_ques {
        width: 80%;
    }

    .question_page a.btn{
        font-size: 10px;
        padding: 5px 0;
    }
}


/******************************** END *****************************************/


@media screen and (max-width: 480px) {

    .ti-menu{
        font-family: FontAwesome;
    }

    .ti-menu:before{
        content: "\f0c9";
    }

}

